<link href="elective/MVC/View/datatables/datatables.css" rel="stylesheet">
<script src="elective/MVC/View/datatables/datatables.min.js" type="text/javascript"></script>
<script src="elective/MVC/View/js/ajax.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    var table = $('#adminCourseTable').DataTable( {
        dom: 'lBfrtip',
        select:  'multi',
		"paging": true,
        info: true,
		"scrollX": true,
		lengthMenu: [ [10, 20, 50, 100, 200, -1], [10, 20, 50, 100, 200, "All"] ],
		buttons: [ 'selectAll','selectNone','copy', 'csv',
            {
                text: '{{ @lang.admin.courses.delete }}',
                action: function () {
					var selectedRows=table.rows( { selected: true } );
					if(selectedRows.ids().toArray() == 0){
						alert("{{ @lang.admin.courses.pleaseSelectCourse }}");
					}else{//ajax
						if(window.confirm("{{ @lang.reallyDelete }}")){
							modifyCourse('del',selectedRows.ids().toArray(), '{{ @SESSION.csrf }}');
						}
						//selectedRows.remove().draw();
					}
                }
            },
			{
                text: '{{ @lang.admin.courses.ignore }}',
                action: function () {
					var selectedRows=table.rows( { selected: true } );
					if(selectedRows.ids().toArray() == 0){
						alert("{{ @lang.admin.courses.pleaseSelectCourse }}");
					}else{//ajax
						modifyCourse('ignore',selectedRows.ids().toArray(), '{{ @SESSION.csrf }}');
						//selectedRows.remove().draw();
					}
                }
            },
			{
                text: '{{ @lang.admin.courses.activate }}',
                action: function () {
					var selectedRows=table.rows( { selected: true } );
					if(selectedRows.ids().toArray() == 0){
						alert("{{ @lang.admin.courses.pleaseSelectCourse }}");
					}else{//ajax
						modifyCourse('activate',selectedRows.ids().toArray(), '{{ @SESSION.csrf }}');
						//selectedRows.remove().draw();
					}
                }
            },
			{
                text: '{{ @lang.admin.courses.changeNumberOfStudents }}',
                action: function () {
					var selectedRows=table.rows( { selected: true } );
					if(selectedRows.ids().toArray() == 0){
						alert("{{ @lang.admin.courses.pleaseSelectCourse }}");
					}else{//ajax
						var number = prompt("{{ lang.maxStudents }}", "1");
						var numberInt = parseInt(number);
						modifyCourse('maxStudents',selectedRows.ids().toArray(),numberInt, '{{ @SESSION.csrf }}');
					}
                }
            }
        ],
		"language": <include href="datatableLanguage.html">
    });
} );
/*function courseDescriptionModal(){
	var id = getCourseIDFromTable();
	if(id){
		courseDescription(selectedRow.id());  //ajax.js
	}else{
		alert("{{ @lang.selectCourse }}");	
	}
}

function getCourseIDFromTable(){
	var table = $('#courseTable').DataTable();
	selectedRow=table.row( { selected: true } );
	if(selectedRow.length == 0){
		return false;
	}else{
		return selectedRow.id();
	}
}*/
</script>

<p  class="mb-3 mt-3">{{ @lang.admin.courses.courseTableDesc | raw}}</p>
<div class="clearfix"></div>
<div id="dialog"></div>
	<table id="adminCourseTable" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>{{ @lang.id }}</th>
                <th>{{ @lang.courseTitle }}</th>
                <th>{{ @lang.teacher }}</th>
				<th>{{ @lang.max }}</th>
				<th>&sum;</th>
				<repeat group="{{ @priorities }}" value="{{ @priority }}">
					<th>{{ @priority }}</th>
				</repeat>
				<th title="{{ @lang.admin.users.ignored }}">i</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{ @lang.id }}</th>
                <th>{{ @lang.courseTitle }}</th>
                <th>{{ @lang.teacher }}</th>
				<th>{{ @lang.max }}</th>
				<th>&sum;</th>
				<repeat group="{{ @priorities }}" value="{{ @priority }}">
					<th>{{ @priority }}</th>
				</repeat>
				<th title="{{ @lang.admin.users.ignored }}">i</th>
            </tr>
        </tfoot>
        <tbody>
			<repeat group="{{ @courses }}" value="{{ @course }}">
		        <tr id="{{ @course.courseID }}">
		            <td>{{ @course.courseID }}</td>
		            <td>{{ @course.title }}</td>
		            <td>{{ @course.teacherList }}</td>
					<th>{{ @course.maxStudents }}</th>
					<td>{{ @course.totalNumber }}</td>
					<repeat group="{{ @priorities }}" value="{{ @priority }}">
						<td>{{ @course[@priority] }}</td>
					</repeat>
					<td><check if="{{ @course.ignored == 1}}"><true>&#10004;</true></check></td>
		        </tr>
			</repeat>
        </tbody>
    </table>


<button type="submit" style="float: left;" class="btn btn-lg btn-primary" value="edit" onclick="courseDescriptionModal()">{{ @lang.openDescription }}</button>





